services:
  remna-miniapp:
    image: marksventsitsky/remna-miniapp:latest  # Образ из Docker Hub
    container_name: remna-miniapp
    hostname: remna-miniapp
    restart: unless-stopped
    expose:
      - '8000'
    env_file:
      - .env
    networks:
      - remnawave-network
    healthcheck:
      test: ["CMD", "bun", "-e", "fetch('http://localhost:8000/health').then(r => process.exit(r.ok ? 0 : 1)).catch(() => process.exit(1))"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s

networks:
  remnawave-network:
    name: remnawave-network
    external: true

